<div class="card border-secondary mt-3 ml-3 mb-3 w-50">
    <div class="card-header h6">
        New mail
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="emailForm" (submit)="onSubmit($event)">
            <div class="form-group">
                <label>Email address:</label>
                <input type="email" class="form-control" id="email" formControlName="address" placeholder="example@example.com">
            </div>
            <div class="form-group">
                <label>Message:</label>
                <textarea class="form-control" id="message" formControlName="message" placeholder="Type your message here..."></textarea>
            </div>
            <button class="btn btn-secondary float-right w-25" type="submit">Send</button>
        </form>
    </div>
</div>

<div *ngIf="emails" class="card border-secondary ml-3 mr-3">
    <div class="card-header h6">
        Sent mails
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let email of emails; let i = index" class="m-0">
                <th class="align-middle w-10">{{ i + 1 }}.</th>
                <td class="align-middle w-20">{{ email.address }}</td>
                <td class="align-middle w-50">{{ email.message }}</td>
                <td class="align-middle w-20 text-right">{{ email.created | dateConverter }}</td>
            </tr>
        </tbody>
    </table>
</div>